*{
    margin: 0;
    padding: 0;
}
.move{
    background:black;
    color:white;
    font-size:30px;
    margin-bottom:55px;
}
.box{
    height:350px;
    width: 400px;
    background:green;
    align-items: center;
    margin: auto;
}
.a{
    width: 150px;
    height: 50px;
    background:lightblue;
    margin:23px;
}
.a:hover{
    background:yellow;
    font-size:30px;
}
.b{
    width: 350px;
    height: 50px;
    margin-left:24px;
    background:blue;
}
.b:hover{
    background:red;
    font-size:30px;
}